@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

#app {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
}

/* Loader */

.loader {
    margin: 200px auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* App itself */

.main {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px 0;
    background-color: #3498db;
    color: #fff;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    flex: 1 0 auto;
    align-self: center;
    max-width: 600px;
    padding: 0 10px;
}

.content__text {
    margin-bottom: 20px;
    font-size: 18px;
}

.content__text--warning {
    margin-bottom: 0;
    color: #b33a3a;
    font-size: 14px;
}

.content__file {
    margin-bottom: 20px;
}

.content__button {
    margin: 20px 0;
    padding: 20px 30px;
}

.attachments {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
    padding: 10px 50px 15px 20px;
    border: 1px solid #3498db;
}

.attachments__header {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #3498db;
}

.attachments-list {
    list-style-type: none;
}

.attachments-list__item {
    font-weight: 600;
}
